section {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.terms {
	text-align: center;
	margin: auto;
}

.nav {
	text-decoration: none;
	text-align: center;
}

.contact {
	padding-top: 3%;
}

.footer {
	background-color: #666;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.social li a,
.social li a:link,
.socail li a:visited{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 1rem;
	text-align: center;
	padding-top: 0.8125rem;
	color: #666;

	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;

	color: #000;

	-webkit-box-shadow: inset 0px 0px 0px 40px #FFF;
	-moz-box-shadow: inset 0px 0px 0px 40px #FFF;
	-ms-box-shadow: inset 0px 0px 0px 40px #FFF;
	-o-box-shadow: inset 0px 0px 0px 40px #FFF;
	box-shadow: inset 0px 0px 0px 40px #FFF;
}

.social li a:hover,
.social li a:focus,
.social li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 3px #59323C;
	-moz-box-shadow: inset 0px 0px 0px 3px #59323C;
	-ms-box-shadow: inset 0px 0px 0px 3px #59323C;
	-o-box-shadow: inset 0px 0px 0px 3px #59323C;
	box-shadow: inset 0px 0px 0px 3px #59323C;
	color: #59323C;
}


