# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Jared Lebel}
- {Hasan Yavuz}
- {Daniela Chavez-Ackermann}
- {Shawna Guy}
- {Chelsey Frohlick}
- {Taylor Doe}

## Tasks

1. Search for an item.
2. Add a white wine to cart.
3. Buy a bottle of Brethren of the Road Syrah (red wine).

---

## Individual Results & Observations

### {Chelsey Frohlick}

- Subject did not like program (voiveover).
- Once getting accompanied with program, subject made excellent progress. 
- Finished tasks quickly and easily

### {John Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Jordan Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

### {Theresa Doe}

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### {Todd Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Taylor Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.