# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Stephen Pollock - Tab}
- {Hasan Yavuz - Voiceover}
- {Daniela Chavez-Ackermann - Voiceover}
- {Shawna Guy - Tab}
- {Chelsey Frohlick - Voiceover}
- {Mark Collantes - Tab}

## Tasks

1. Search for an item.
2. Add a white wine to cart.
3. Buy a bottle of Brethren of the Road Syrah (red wine).

---

## Individual Results & Observations

### {Chelsey Frohlick}

- Subject did not like program (voiveover).
- Once getting accompanied with program, subject made excellent progress. 
- Finished tasks quickly and easily once confortable with program.

### {Stephen Pollock}

- All tasks were completed quickly and easily.

### {Shawna Guy}
- Easily completed tasks.

### {Daniela Chavez-Ackermann}

- She completed all tasks quickly. She did not like voiceover either.

### {Mark Collantes}

- Completed tasks very quickly and with satisfaction.

### {Hasan Yavuz}

- Had no problems with site. Navigated very fast.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- There were no critical errors mentioned.

### Serious, Causes Frustration, May Hinder Completion

- Voiceover was teh only concern to each participant.

### Minor, Annoying, Won’t Hinder Completion

- There was nothing annoying in the site mentioned.