# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Hasan Yavuz}
- {Chelsey Frohlick}
- {Jordan Doe}

## Tasks

1. {Buy a bottle of wine.}
2. {Add bottle of white wine to cart.}
3. {Search a bottle of wine.}

---

## Individual Results & Observations

### {Hasan}

- {Clicked on promos to get wine instead of shop.}
- {Clicked on shop, and easily got wine.}


### {Chelsey}

- {Clicked on shop, and got both wines easily.}
- {Clicked on search bar and easily searched for wine.}


### {Shawna}

- {Also clicked on promos to get wine instead of shop.}
- {Clicked on shop, and easily got wine.}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Almost all participants wanted to click on promos on first page. No major problems}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- No serious frustrations to fix.

### Minor, Annoying, Won’t Hinder Completion

- List in shop page was scewed, and SLO red wine showed up in unnecessary places.

