---
layout: default
category: category
title: White Wines
showbanner: yes
meta: "Shop white wines"
---

<a href="{{site.baseurl}}/products/{{page.products}}">Return to Wines</a>

<div class="gutter grid">
	<p class="unit unit-s-1 unit-m-1 unit-l-1">Shop by Category</p>
	<ul class="unit unit-s-1 unit-m-1 unit-l-1">
	{% for products in site.pages %}
		{% if products.category == 'white' %}
		<li>
			<a href="{{site.baseurl}}{{products.url}}">
				<img class="unit units-s-1 unit-m-1-2 unit-l-1-3" src="{{site.baseurl}}/images/{{products.image}}">
				{{products.name}}
			</a>	
		</li>
		{% endif %}
	{% endfor %}
	</ul>	

</div>		