---
layout: default
---

<a href="{{site.baseurl}}/products/{{page.category}}">Return to Wines</a>

<h1>{{page.name}}</h1>

<div class="grid">
	<img class="unit units-s-1 unit-m-1-2 unit-l-1-3" src="{{site.baseurl}}/images/{{page.image}}">
	<dl class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
		<dt>Name</dt>
		<dd>{{page.name}}</dd>
		<dt>Age</dt>
		<dd>{{page.age}}</dd>
		<dt>Type</dt>
		<dd>{{page.type}}</dd>
	</dl>	

	<div class="unit unit-s-1 unit-m-1 unit-l-1">
		{{content}}

	<a class="btn" href="{{site.baseurl}}/cart">Add to Cart</a>	

	</div>
</div>	